html {
	background-image: url(https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg?w=2000);
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
h1 {
	text-align: center;
}
p1 {
	text-align: left;
	text-size: 18px;
}
p2 {
	text-align: left;
	text-size: 18px;
}
p3 {
	text-align: left;
	text-size: 18px;
}
p4 {
	text-align: left;
	text-size: 18px;
}